<div class="container" style="width: 50rem;">
    <form method="post">
        <div class="card text-center mb-3" style="background:rgb(157,30,29)">
            <div class="card-body border-secondary mb-3">
                <div class="form-group">
                    <input type="hidden" value="{{ reservation.id }}" name="id">
                    <input class="form-control" type="text" name="id_client" value="{{ reservation.id_client }}"
                           placeholder="N° client">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="date" value="{{ reservation.date }}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="montant" value="{{ reservation.montant }}"
                           placeholder="Montant de réservation">
                    <div class="form-group text-white">
                        <label for="validation text-white">Votre réservation est :</label>
                        <select class="form-control" name="validation" id="validation"
                                value="{{ reservation.validation }}">
                            <option>En attente</option>
                            <option>Validée</option>
                            <option>Refusée</option>
                        </select>
                    </div>
                    <div class="form-group">
                    <textarea id="commentaire" name="commentaire" class="form-control" rows="5"
                              placeholder="Votre commentaire..."
                              required></textarea>
                    </div>
                    <div class="container text-right">
                        <button type="submit" value="submit" class="btn btn-primary btn-lg">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
