{% extends 'layout.html.twig' %}

{% block title %}Réservation du {{ reservation.date }}{% endblock %}

{% block content %}
    <div class="jumbotron" style="background:rgb(157,30,29)">
        <h1 class="text-center text-white">Detail de réservation du  {{ reservation.date | date("d.m.y") }}</h1>
    </div>
    </br> </br></br> </br></br> </br>
    <div class="container">
        <div class="card text-center border-danger mb-3">
            </br> </br></br> </br></br> </br>
            <p> La réservation du {{ reservation.date | date }} vous coutera {{ reservation.montant }} euros.
                Nous prennons en compte votre precisions specifique:</br>  " {{ reservation.commentaire }} ".</p>
            </br> </br></br> </br></br>  </br>
        </div>
    </div>
    </br> </br></br> </br>

    <div class="container text-center">
        <a class="btn btn-primary btn-md" href="/reservation/edit/{{ reservation.id }}">Edit</a>
        <a class="btn btn-primary btn-md" href="/reservation/delete/{{ reservation.id }}">Supprimer</a>
        <a class="btn btn-primary btn-md" href="/reservation/index">Back</a>
    </div>


    </br></br></br> </br></br> </br></br> </br>
{% endblock %}
