<div class="container" style="width: 50rem;">
    <form method="post">
        <div class="card text-center text-white mb-3" style="background:rgb(157,30,29)">
            <div class="card-header">
                <div class="form-group">
                    <label for="note">Quelle évaluation atribuez-vous à notre Chef ?</label>
                    <select class="form-control" name="note" id="note" value="{{ avis.note }}">
                        <option>5 - Vous visez l'excellence! C'était une dinguerie!!!</option>
                        <option>4 - Très bon moment, good job!</option>
                        <option>3 - Bon moment</option>
                        <option>2 - Bof!</option>
                        <option>1 - Nul, Nul et encore Nul!</option>
                    </select>
                </div>
            </div>
            <div class="card-body mb-3" style="background:rgb(157,30,29)">
                <div class="form-group">
                    <input type="hidden" value="{{ avis.id }}" name="id">
                    <label for="nom"></label>
                    <input type="text" value="{{ avis.nom }}" name="nom" id="nom" class="form-control"
                           placeholder="Votre nom">
                </div>
                <div class="form-group">
                    <label for="titre"></label>
                    <input type="text" value="{{ avis.titre }}" name="titre" class="form-control" placeholder="Titre">
                </div>
                <div class="form-group">
                    <label for="commentaire"></label>
                    <textarea class="form-control" name="commentaire" id="commentaire" rows="3"
                              value="{{ avis.commentaire }}" placeholder="Votre commentaire..."></textarea>
                </div>
                <div class="container text-right">
                    <button type="submit" class="btn btn-primary btn-md">Envoyer
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

