{% extends 'layout.html.twig' %}

{% block title %}
    Livre d'or - {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="jumbotron" style="background: rgb(157,30,29)">
    <h1 class="text-center text-white">Livre d'or</h1>
    <p class="text-center text-white">"Parfois, tu ne connais pas la vraie valeur d'un moment jusqu'à ce qu'il devienne un souvenir..."</p>
    <br/>

    {% for avis in avis %}

        <div class="container" style="background: rgb(157,30,29); width: 50rem;">
            <div class="card text-center border-danger mb-3" style="background: blanchedalmond">
                <div class="card-header">
                    Avis de {{ avis.nom }}
                </div>
                <div class="card-header">
                    Note de {{ avis.note }} sur 5
                </div>
                <div class="card-body border-secondary mb-3">
                    <h5 class="card-title">{{ avis.titre }}</h5>
                    <p class="card-text">{{ avis.commentaire }}</p>
                    {% if session.use_admin == 1 %}
                        <a class="btn btn-primary btn-sm"
                           href="/avis/show/{{ avis.id }}" role="button">Modifier</a>
                    {% else %}
                    {% endif %}


                </div>
                <div class="card-footer text-muted">
                    Posté le {{ avis.date | date("d.m.y") }}

                    <? echo date("d-m-Y"); ?>
                </div>
            </div>
        </div>


    {% else %}
        <li>Nothing to display</li>
    {% endfor %}

    </div>
    {% endblock %}

