{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron" style="background: rgb(157,30,29)">
        <h2 class="text-center text-white">Avis de {{ avis.nom }}</h2>
    </div>
    <div class="container" style="width: 50rem;">
        <div class="card text-center border-danger mb-3" style="background: blanchedalmond">
            <div class="card-header">
                Note de {{ avis.note }} sur 5
            </div>

            <div class="card-body border-secondary mb-3">
                <h5 class="card-title">{{ avis.titre }}</h5>
                <p class="card-text">{{ avis.commentaire }}</p>
            </div>
            <div class="card-footer text-muted">
                Date de la prestation : {{ avis.date | date("d.m.y") }}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <a class="btn btn-primary btn-md" href="/avis/index">Précédent</a>
        <a class="btn btn-primary btn-md" href="/avis/edit/{{ avis.id }}">Modifier</a>
        <a class="btn btn-primary btn-md" href="/avis/delete/{{ avis.id }}">Supprimer</a>
    </div>
    <br/>
{% endblock %}

