<form method="post">
    <input type="hidden" value="{{ product.id }}" name="id">
    <input type="text" value="{{ product.nom }}" name="nom">
    <input type="text" value="{{ product.description }}" name="description">
    <input type="text" value="{{ product.lien_image }}" name="lien_image">
    <input type="text" value="{{ product.prix_ht }}" name="prix_ht">
    <input type="submit" value="Valider">
</form>
